# Logs (e.g. npm-debug)
*.log*

# IDEA/Webstorm project files
.idea
*.iml

# VSCode metadata
.vscode

.DS_Store
node_modules
TODO.md
lib
docs/_book
logger.js
examples/**/build.js
types/typings
types/test/*.js
explorations
