.scrimba
  background-color #e7ecf3
  padding 1em 1.25em
  border-radius 2px
  color #486491
  position relative
  margin-top: 16px
  a
    color #486491 !important
    position relative
    padding-left 36px
    &:before
      content ''
      position absolute
      display block
      width 30px
      height 30px
      top -5px
      left -4px
      border-radius 50%
      background-color #73abfe
    &:after
      content ''
      position absolute
      display block
      width 0
      height 0
      top 5px
      left 8px
      border-top 5px solid transparent
      border-bottom 5px solid transparent
      border-left 8px solid #fff